<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}

<!DOCTYPE html>
<html lang="zxx">

{% include "include/head.html" %}


<body>
    <!-- inner banner -->
    <div class="inner-banner-agile">
        <!-- header -->
        {% include "include/top_nav.html" %}

        <!-- //header -->
    </div>
    <!-- inner banner -->
    <!-- about -->
    <section class="main-sec-w3 pb-sm-5 about-bot-w3l">
        <div class="container">
            <div class="wthree-inner-sec  about-bot-w3ls">
                <div class="sec-head">
                    <h1 class="sec-title-w3 text-capitalize">about me</h1>
                    <span class="block"></span>
                </div>
                <div class="about_w3l position-relative">
                    <div class="profile-wrapper">
                        <div class="profile-image">
                            <img src="{% static 'images/about.jpg' %}" alt="about _image" class="img-fluid" />
                        </div>
                        <h2 class="profile-title">Nahid
                            <span>Hassan</span>
                        </h2>
                        <div class="profile-info">
                            <div class="content">
                                <div class="row  pro-contact">
                                    <div class="col-4">
                                        <img src="{% static 'images/profile.jpg' %}" alt=""
                                            class="rounded-circle img-fluid">
                                    </div>
                                    <div class="col-sm-8  my-auto">
                                        <div class="link_about">
                                            <i class="fab fa-github" aria-hidden="true"></i>
                                            <a href="https://github.com/Nahid71" target="_blank">Github</a>
                                        </div>
                                        <div class="link_about my-2">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                            <a href="https://www.linkedin.com/in/nahid1171" target="_blank">Linkdin</a>
                                        </div>
                                        <div class="link_about">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <a href="#">nahidjahid8698@gmail.com</a>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <h5>#Full Stack Develper / #Web #Data Scientest & #Business Analyst.</h5> BCSE
                                    graduate
                                    offering a strong foundation in software engineering and programming principles
                                    across multiple platforms. Experienced in object-oriented programming; developing,
                                    testing and debugging code; designing interfaces; and administering systems and
                                    networks.Quickly learn and master new technologies; successful working in both team
                                    and self-directed settings.

                                </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- footer -->
    {% include "include/footer.html" %}
    <!-- //footer -->
    <!-- js -->
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <!-- //js -->
    <!-- few java snippets-->
    <script src="{% static 'js/strive.js' %}"></script>
    <!-- //few java snippets-->
    <!-- nav -->
    <script src="{% static 'js/menuFullpage.min.js' %}"></script>
    <!-- //nav -->
    <!-- smooth scroll -->
    <script src="{% static 'js/SmoothScroll.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
