<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

{% include "include/head.html" %}

<body>
    <!-- inner banner -->
    <div class="inner-banner-agile services">
        <!-- header -->
        {% include "include/top_nav.html" %}
        <!-- //header -->
    </div>
    <!-- inner banner -->
    <!-- services -->
    <section class="pb-5">
        <div class="container">
            <div class="wthree-inner-sec services-bg">
                <div class="sec-head">
                    <h1 class="sec-title-w3 text-capitalize text-white">services</h1>
                    <span class="block"></span>
                </div>
                <section class="slide-wrapper">
                    <div class="services pt-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 my-auto">
                                    <img src="{% static 'images/code.png' %}" alt="" class="img-fluid" />
                                </div>
                                <div class="col-lg-4">
                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h2>Full Stack</h2>
                                            <p>
                                                I can build a powerful website with just traditional Django and also front end with Js library
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->

                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fas fa-rocket"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h4>Deploying</h4>
                                            <p>
                                               I can Deploy your any Python site into Amazon EC2/AWS/Digital Ocean/Heroku
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->
                                    <div class="d-flex services-box">
                                        <span class="icon">

                                            <i class="fas fa-database"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h4>Data Analysis</h4>
                                            <p>
                                               I am good at Data Analysis so if you need any kind of help for analysis your data that time I can give you the best solution.
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->

                                </div>
                                <!-- .Col ends here -->
                                <div class="col-lg-4">

                                    <!-- .Services-box ends here -->

                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fas fa-paint-brush"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h4>Advanced Features</h4>
                                            <p>
                                                Handeling Database, Speed up website, Integrating different data source
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->
                                    <div class="d-flex services-box">
                                        <span class="icon">
                                            <i class="fas fa-code"></i>
                                        </span>
                                        <!-- .Icon ends here -->
                                        <div class="service-content">
                                            <h4>Clean Design</h4>
                                            <p>
                                                I can help you to Desing your  website for best performance.
                                            </p>
                                        </div>
                                        <!-- .Service-content ends here -->
                                    </div>
                                    <!-- .Services-box ends here -->
                                </div>
                                <!-- .Col ends here -->
                            </div>
                            <!-- .Row ends here -->
                        </div>
                        <!-- .Container ends here -->
                    </div>
                    <!-- .Services ends here -->
                </section>
            </div>
        </div>

    </section>
    <!-- //services -->
    <!-- footer -->
    {% include "include/footer.html" %}
    <!-- //footer -->
    <!-- js -->
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <!-- //js -->
    <!-- few java snippets-->
    <script src="{% static 'js/strive.js' %}"></script>
    <!-- //few java snippets-->
    <!-- nav -->
    <script src="{% static 'js/menuFullpage.min.js' %}"></script>
    <!-- //nav -->
    <!-- smooth scroll -->
    <script src="{% static 'js/SmoothScroll.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>
