<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

{% include "include/head.html" %}

<body>
    <!-- inner banner -->
    <div class="inner-banner-agile skillset">
        <!-- header -->
        {% include "include/top_nav.html" %}
        <!-- //header -->
    </div>
    <!-- inner banner -->
    <!-- skill set -->
    <section class="pb-5">
        <div class="container">
            <div class="wthree-inner-sec skills-bg">
                <div class="sec-head text-center">
                    <h1 class="sec-title-w3 text-capitalize text-dark">skill set</h1>
                    <span class="block mx-auto"></span>
                </div>
                <div class="wthree-row py-md-5 py-3">
                    <div id="wrapper">
                        <div class="chart">
                            <table id="data-table" class="table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col">Full Stack</th>
                                        <th scope="col">ML</th>
                                        <th scope="col">Python</th>
                                        <th scope="col">Java</th>
                                        <th scope="col">PHP</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>90</td>
                                        <td>50</td>
                                        <td>95</td>
                                        <td>90</td>
                                        <td>80</td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //skill set -->
    <!-- footer -->
    {% include "include/footer.html" %}
    <!-- //footer -->
    <!-- js -->
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <!-- //js -->
    <!-- few java snippets-->
    <script src="{% static 'js/strive.js' %}"></script>
    <!-- //few java snippets-->
    <!-- nav -->
    <script src="{% static 'js/menuFullpage.min.js' %}"></script>
    <!-- //nav -->
    <!-- smooth scroll -->
    <script src="{% static 'js/SmoothScroll.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/skill.js' %}"></script>
</body>

</html>
